/app/config/parameters.yml
/app/phpunit.xml
/bin/
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/uploads/*
!var/uploads/.gitkeep
/vendor/
/web/bundles/
/web/config.php
/app/SymfonyRequirements.php
/app/check.php
/app/bootstrap.php.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
